<html>
    <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<html id ="p1" >
  <br>
  <div  id="container">
      <div class="card" style="width: 18rem;" >       
        <div class="card-body" >
          <h5 class="p1">Customize your password</h5>
          <hr style="width:100%;text-align:left;margin-left:0">
          <div>
            <div >
              <h6>Password Length</h6>
              <label class="btn btn-danger">  {{selectedvalue}}</label>
              <input  type="range" min="0" max="12" step="1" [(ngModel)]="selectedvalue">          
            </div>  
            <br> 
           <div id="p2" >         
           <br>
            <div class="form-check"  >
              <input type="checkbox" >
              <label class="form-check-label">Uppercase</label><br>
              <input  type="checkbox" >
              <label class="form-check-label">Lowercase</label><br>
              <input  type="checkbox"  >
              <label class="form-check-label">Numbers</label><br>
              <input  type="checkbox">
              <label class="form-check-label">Symbols</label><br>
            </div>
               <br> 
           </div>          
           <div style="text-align:center">
            <button    class="btn btn-danger" (click)="generatePassword()">Generate Password</button>
            <p> password is: {{ generatedPassword }}</p>
          
        </div>
          </div>         
        </div>
    </div>  

  </div>
   

    
</html>

</html>


