
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<html>  
    <div class="p-3 mb-2 bg-secondary text-white">
        <div style="text-align:center">
            <h1>RESUME </h1>
        </div>

        <hr style="width:100%;text-align:left;margin-left:0">
        <h4> JYOTHI SIKHINAM</h4><br>  

        <div style="text-align:right" >
            <i class="bi bi-telephone-fill" ></i>            
            <span> : +91 9014110783</span>           
        </div>

        <div style="text-align:right">
            <i class="bi bi-envelope-fill"></i>           
            <span> : sikhinamjyothi@gmail.com</span>
        </div>

        <img src="./assets/jyo.jpeg" style="max-width:10%;" class="img-fluid" ><br><br>

        
        <hr style="width:100%;text-align:left;margin-left:0">
        
        <h5 >CAREER OBJECTIVE</h5>
        <ul>
            <p>A highly motivated and hardworking individual looking for a responsible role in a reputable organization</p>
        </ul>

        <hr style="width:100%;text-align:left;margin-left:0">        
        <h5>EDUCATION</h5>

        <ul style="list-style-type:disc">
            <li>Bachelor of Engineering -UCEN-(2016-2020)</li>
        </ul>
        <hr style="width:100%;text-align:left;margin-left:0">
        <h5>STRENGTH AND EXPERTISE</h5>
        <ul style="list-style-type:disc">
            <li>Intermediate in C#(.Net Core Framework 3.1)</li>
            <li>Intermediate in ASP.NET Core Web API</li>
            <li>Intermediate in HTML5,CSS3(Bootstrap4  Framework)</li>
            <li>Intermediate in Angular14</li>
            <li>Intermediate in SQL server 2014</li>
        </ul>
        <hr style="width:100%;text-align:left;margin-left:0">


        <h5>RELEVENT  COURSE</h5>
        <ul style="list-style-type:disc">
            <li> Full Stack Web Development </li>
            <li>C#(.NET Core Framework),ASP.NET Core Web API,HTML,CSS(Bootstrap Framework),Angular & SQL Server</li>
        </ul>
        <hr style="width:100%;text-align:left;margin-left:0">


        <h5>PROJECT</h5>
        <h6>Matrimony Portal</h6>
        <ul  style="list-style-type:circle">
            <li> New Generation MatriPortal to find their life partner with many features available such as horoscope check,setting compatability perference an with great Ui</li>
        
        </ul >
        <h6>Roles and Responsibilities</h6>
        <ul  style="list-style-type:circle">
            <li>Development of new generation Matrimony Portal using C#.NET,Angular14,SQL server 2014 ,ASP.NET Core WebAPI</li>
            <li>Ui Design with html,css and Bootstrap</li>
            <li>Code optimization and troubleshooting to improve app performance using .NET,Angular</li>
        </ul>
        <hr style="width:100%;text-align:left;margin-left:0">

        
        <h5>CERTIFICATIONS</h5><br>       
        <div>
         

            <ul style="list-style-type:disc" > 
                <li>SQL(Basic)</li> 
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star"></span>           
                <li>Angular(Basic)</li>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star "></span>
                      <span class="fa fa-star"></span>     
            </ul> 
        </div>       
        <hr style="width:100%;text-align:left;margin-left:0">      
        <h5>HOBBIES</h5>
        <ul>
            <a href ="/hobbies" class="text-white">My Hobbies</a>
        </ul>               
    </div>  
    
</html>


<!-- Font Awesome Icon Library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.checked {
  color: orange;
}
</style>

 






