<link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<div class="bg">  
    <!-- <img  style="max-width:100%;" class="img-fluid" >  -->
    <html  id="container">
    <div >
        <div id="main" class="card" style="width: 18rem;">
            <div  class="card-body">
              <div class="copy-text">
                        <div>                                        
                             <input type="text" [(ngModel)]="outPass"> 
                             <i class="fa fa-clone"></i>                   
                        </div>               
              </div>
            <div style="text-align:right"></div>
           </div>
          </div><br>
        <div class="card" style="width:18rem; padding: 20px;">
            <div class="card-body">
                <h5 class="p1">Customize your password</h5>
                <hr style="width:100%;text-align:left;margin-left:0">
            </div>
        <div>
                <h6>Password Length</h6>
                 <label  class="btn btn-danger">  {{selectedvalue}}</label> 
                <input  type="range" min="0" max="12" step="1" (input)="onChangeLength()" [(ngModel)]="selectedvalue"/>    
        </div>
        <div id="p2" >         
            <br>
             <div id="font" class="form-check"  >
               <input   (change)="onChangeUseupppercase()" type="checkbox">
               <label class="form-check-label">UpperCase</label><br>   
               <input   (change)="onChangeUseLowercase()" type="checkbox">
               <label class="form-check-label">LowerCase</label><br>             
               <input  (change)="onChangeUseNumbers()" type="checkbox"  >
               <label class="form-check-label">Numbers</label><br>
               <input (change)="onChangeUseSymbols()"   type="checkbox">
               <label class="form-check-label">Symbols</label><br>             
        </div>
             <br>                
            </div> 
            <div id="p2" >
                <div  class="form-check" >                             
                  <input (change)="onChangeUseAllCharacters()"  type="radio" >
                  <label id="font" class="form-check-label" >All Characters</label><br>
                </div> 
            </div>              
        </div><br>
        <div  style="text-align:center" >            
            <button  (click)="onButtonClick()"  class="btn btn-danger"> Copy  Password </button>    
            <br><br>                       
        </div>   
    </div>
</html>

</div>

   

