#p2{
    accent-color: red;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(191, 237, 237);
}
#main{
    border: 6px solid darkgreen; 
    border-width: 0px 0px 6px 0px;
    }
.p1{
        font-family: Fantasy;
    }
   
 